<p id="notice"><%= notice %></p>

<h1><a href="/">Posts</a></h1>

<div class="panel panel-default">
  <div class="panel-heading">Tags</div>
  <div class="panel-body">
  <% tag_cloud(@tags, %w(filter-by-tag)) do |tag, css_class| %>
    <%= link_to tag.name, { :action => :filter, :tag_name => tag.name }, :class => css_class %>
  <% end %>
  </div>
</div>

<%= link_to 'New Post', new_post_path, class: 'btn btn-success' %>
<br><br>

<table class="table">
  <tbody>
  <% @posts.each do |post| %>
    <tr id="post-row-#<%= post.id %>">
      <td>
        <div class="post-head">
          <span class="post-title"><%= post.title %></span> by <span class="post-author"><%= post.author %></span>
        </div>
        <div class="post-body"><%= post.body %></div>
        <strong>Tags:</strong> <span class="post-tags"><%= post.tag_list %></span>
      </td>
      <td width="150">
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-default' %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
